Source: vimbadmin
Section: web
Priority: extra
Maintainer: Andreas Roth <aroth@arsoft-online.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Vcs-Svn: https://github.com/opensolutions/ViMbAdmin.git
Vcs-Browser: https://github.com/opensolutions/ViMbAdmin
Homepage: http://www.vimbadmin.net/

Package: vimbadmin
Architecture: all
Depends: libapache2-mod-php | php-cgi | php-fpm | php,
 php-mysql | php-sqlite, php-cli,
 smarty3, libzend-framework-php (>= 1.12), php-doctrine-dbal, php-doctrine-orm,
 php-symfony-console,
 dbconfig-common, ${misc:Depends}
Recommends: apache2 | lighttpd | httpd,
 php-gd,
 mysql-client | mariadb-client | virtual-mysql-client,
 php-tcpdf
Suggests: mysql-server | maridadb-server | virtual-mysql-server,
 www-browser
Description: Virtual Mailbox Administration (vim-be-admin)
 The ViMbAdmin project (vim-be-admin) provides a web based virtual mailbox
 administration system to allow mail administrators to easily manage
 domains, mailboxes and aliases.
