#!/usr/bin/make -f

PKG:=vimbadmin
DESTDIR := $(CURDIR)/debian/tmp

%:
	dh $@

override_dh_install:
	mkdir -p $(DESTDIR)/usr/share/$(PKG)
	cp -r application data doctrine2 library public $(DESTDIR)/usr/share/$(PKG)
	chmod 0644 $(DESTDIR)/usr/share/vimbadmin/application/views/error/error.phtml
	chmod 0644 $(DESTDIR)/usr/share/vimbadmin/application/views/error/insufficient-permissions.phtml
	chmod 0644 $(DESTDIR)/usr/share/vimbadmin/application/views/form_elements_errors.phtml
	mkdir -p $(DESTDIR)/usr/share/$(PKG)/bin
	install -m 0755 bin/vimbtool.php $(DESTDIR)/usr/share/$(PKG)/bin
	install -m 0644 bin/utils.inc $(DESTDIR)/usr/share/$(PKG)/bin
	mkdir -p $(DESTDIR)/etc/$(PKG)
	mv $(DESTDIR)/usr/share/$(PKG)/application/configs/* $(DESTDIR)/etc/$(PKG)
	rmdir $(DESTDIR)/usr/share/$(PKG)/application/configs
	ln -s /etc/$(PKG) $(DESTDIR)/usr/share/$(PKG)/application/configs
	mkdir -p $(DESTDIR)/var/lib/$(PKG)
	cp -r var $(DESTDIR)/var/lib/$(PKG)
	ln -s /var/lib/$(PKG) $(DESTDIR)/usr/share/$(PKG)/var
	mkdir -p $(DESTDIR)/usr/bin
	ln -s /usr/share/vimbadmin/bin/vimbtool.php $(DESTDIR)/usr/bin/vimbtool
	dh_install
